### Set "testing" or "production" to run the appropriate environment ###
ENVIRONMENT=testing

### Logging ###
# LEVELS - DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
LOG_FORMAT='[%(asctime)s] %(name)s :: %(levelname)s :: %(message)s'

### Future ###
#DATE_FORMAT='%Y-%m-%d %H:%M:%S'
#SENDER_NAME = "Notifications"
#SENDER_EMAIL = "notifications@email.com"
#SMTP_SERVER = "smtp.email.com"
#SMTP_PORT =
#SMTP_USERNAME =
#SMTP_PASSWORD =
#SMTP_TLS =
#SMTP_SSL =
